.hidden {
  display: none;
}

form {
  display: flex;
}

body {
  background: url(../assets/img/vault-door-open.jpg) no-repeat;
  background-size: cover;

}

#edit-button {
  color: black;
}

#delete-recipe {
  cursor: pointer;
}

#recipe-entry {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  color: white;
  z-index: 2;
}

#recipe-entry-overlay {
  background: #2a2b30;
  opacity: 0.82;
  border-radius: 5px;
  padding: 80px;
  max-width: 500px;
  margin: 0 auto;
  z-index: 1;
}

.vault-recipes {
  max-width: 400px;
  margin: 20px auto;
  background: lightskyblue;
  border-width: 10px;
  border-style: groove;
  border-color: white;
}
